

/** {
  font-family: garamond, cursive, sans-serif;
  margin: 0px;
}*/

/*Header and Nav*/

.title {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

.nav li {
  background-color: grey;
  display: inline-block;
  padding: 5px;
  margin: 1px 0px 1px 0px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.sixphoto h2{
  background-color: teal;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 24px;
}

.sixphoto b {
  text-decoration: underline;
  text-decoration-color: gold;
}

/*Photos*/

.pic {
  display: inline-block;
  width: 33%;
  margin-bottom: -3px;
  margin-top: 5px;
}

.pic img {
  width: 100%;
}

.picedit {
  text-align: center;
  background-color: gold;
  margin: 0px 0px 3px 0px;
}

.copyright {
  background-color: black;
  margin: 12px 0px 0px 0px;
}

.copyright p {
  text-align: center;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13.5px;
}
